body{
    background-image: url(gp.jpeg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0vh
    28%;
    filter: brightness(53%);
}
    
